@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.container {
     font-family: BlinkMacSystemFont,"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
     width: 100vw;
     height: 100vh;
     background-color: #FCFAFF;
     color: #111;
     margin: 0;
     padding: 75px 0 0 0;
}

.top {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #fff;
     border-bottom: 1.5px solid rgba(0, 0, 0, .1);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     height: 75px;
}
.top img {
     display: inline-block;
     width: 125px;
     height: auto;
}
.menuToggle {
     display: none;
}
.menuToggleLabel {
     cursor: pointer;
     position: fixed;
     top: 21.5px;
     left: 20px;
     z-index: 1100;
}
.menuToggleLabel svg {
     font-size: 27.5px;
}
.menu {
     position: fixed;
     top: 0;
     left: -250px;
     width: 250px;
     height: 100%;
     background-color: #fff;
     border-right: 1.5px solid rgba(0, 0, 0, .1);
     box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .1);
     z-index: 1000;
     transition: left 0.3s ease;
}
.menu.active {
     left: 0
}
.menu ul {
     list-style: none;
     padding: 0;
     margin: 70px 0 0 10px;
}
.menu ul li {
     padding: 15px;
}
.menu ul li a {
     text-decoration: none;
     color: #000;
}
.logo {
     position: fixed;
     top: 20px;
     z-index: 1100;
     left: 50%;
     transform: translateX(-50%);

}

.info {
     max-width: 500px;
     margin: 20px auto 0 auto;
     font-size: 17.5px;
}

.info_board {
     max-width: 500px;
     margin: 25px auto;
     font-size: 17.5px;
}
.info_board h1 {
     font-weight: bold;
     font-size: 22.5px;
     text-align: center;
     color: #111;
     margin-bottom: 15px;
}
.info_board label {
     font-size: 17.5px;
}

.button {
     font-size: 15px;
     padding: 7.5px 15px;
     background-color: rgba(0, 123, 255, 1);
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-right: 10px;
     margin-top: 15px;
     transition: all .3s;
}
.button:hover {
     background-color: rgba(0, 110, 230, 1);
}

.input {
     margin: 5px 7.5px;
     padding: 5px 12.5px;
     font-family: "Reddit Mono", monospace, sans-serif;
     font-size: 15px;
     background-color: rgba(232, 240, 254, .5);
     color: #333;
     border: 1px solid rgba(0, 0, 0, .1);
     border-radius: 5px;
}

.link_text {
     font-size: 15.5px;
}

.generate a {
     text-decoration: underline;
     text-underline-offset: 1px;
     color: rgba(0, 123, 255, 1);
}

.imageContainer {
     display: flex;
     flex-wrap: wrap;
}

.imageContainer img {
     width: 130px;
     height: auto;
     margin: 15px 20px;
}